name: Build

on:
  workflow_call:
    inputs:
      release_tag:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: Build project
        run: cargo build --release
      - name: Package binaries
        run: tar czf aargal-${{ inputs.release_tag }}-linux.tar.gz target/release/aargal
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: aargal-binary
          path: aargal-${{ inputs.release_tag }}-linux.tar.gz
