name: Build

on:
  workflow_call:
    inputs:
      release_mode:
        description: 'Whether this build is for a release'
        required: false
        default: 'false'

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-rust@v1
        with:
          rust-version: stable
      - run: cargo build --release
      - uses: actions/upload-artifact@v4
        with:
          name: aargal-build
          path: target/release/aargal
