name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build_release:
    uses: ./.github/workflows/build.yml
    type: workflow          # <- This is mandatory!
    with:
      release_mode: true
    secrets: inherit

  publish:
    needs: build_release
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: aargal-build
          path: ./release
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: softprops/action-gh-release@v1
        with:
          files: ./release/aargal
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
